.popupfooter {
  height:3.4rem;
  background-color: var(--accent-blue);
  border-bottom-left-radius: var(--curve-factor);
  border-bottom-right-radius: var(--curve-factor);
}

.popupheader {
  height:3.4rem;
  background-color: var(--dark-blue);
  border-top-left-radius: var(--curve-factor);
  border-top-right-radius: var(--curve-factor);
  color: var(--widget-header-color);
}

.popupbody{
  border-color: #292f46;
  background-color: #19172c;
  color:#a8b0d3;
}

.dialog::backdrop {
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  background: linear-gradient(rgba(61, 61, 61, .5) 30%, rgba(0, 0, 0, .5) 55%);
}

.dialog{
  border-radius: var(--curve-factor);
  width: 60rem;
}

dialog {
  opacity: 1;
  transform: scale(1);
  transition: all 0.3s ease-in-out;

  @starting-style{
    opacity: 0;
    transform: scale(0.8);
  }

}