@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("../modules/Weather/weather.css");
@import url("../modules/CodeStats/CodeStatsChart.css");
@import url("../modules/SystemInfo/SystemInfo.css");
@import url("../modules/MyWork/MyWork.css");
@import url("../modules/Links/Links.css");
@import url("../modules/Clock/clock.css");
@import url("../modules/Collapsable/Collapsable.css");
@import url("../modules/Popup/popup.css");
@import url("../modules/News/News.css");

:root {
  --new-xp: #990066;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --widget-header-color: rgba(255, 0, 255, 1);
  --widget-header-color-light: #7EC8E3;
  --box-background: #151b54;
  --dark-blue: #050A30;
  --accent-blue: #000C66;
  --primary: #5cabca;
  --background: #0b1021;
  --background-darker: #05070e;
  --info: #04e4f4;
  --success: #20e253;
  --warning: #f6f000;
  --error: #fca016;
  --danger: #f80363;
  --neutral: #272f4d;
  --white: #fff;
  --black: #000;
  --item-group-background: rgba(11, 16, 33, 0.8);
  --medium-grey: #5e6474;
  --item-background: rgba(96, 125, 139, 0.2);
  --item-background-hover: rgba(96, 125, 139, 0.30196078431372547);
  --transparent-70: rgba(0, 0, 0, 0.7019607843137254);
  --transparent-50: rgba(0, 0, 0, 0.5019607843137255);
  --transparent-30: rgba(0, 0, 0, 0.30196078431372547);
  --transparent-white-70: hsla(0, 0%, 100%, 0.7019607843137254);
  --transparent-white-50: hsla(0, 0%, 100%, 0.5019607843137255);
  --transparent-white-30: hsla(0, 0%, 100%, 0.30196078431372547);
  --transparent-white-10: hsla(0, 0%, 100%, 0.058823529411764705);
  --heading-text-color: var(--primary);
  --nav-link-text-color: var(--primary);
  --nav-link-background-color: rgba(96, 125, 139, 0.2);
  --nav-link-text-color-hover: var(--primary);
  --nav-link-background-color-hover: rgba(96, 125, 139, 0.2);
  --nav-link-border-color: transparent;
  --nav-link-border-color-hover: var(--primary);
  --nav-link-shadow: 1px 1px 2px #232323;
  --nav-link-shadow-hover: 1px 1px 2px #232323;
  --item-text-color: var(--primary);
  --item-text-color-hover: var(--item-text-color);
  --item-group-outer-background: var(--primary);
  --item-group-heading-text-color: var(--item-group-background);
  --item-group-heading-text-color-hover: var(--background);
  --settings-text-color: var(--primary);
  --settings-background: var(--background);
  --widget-text-color: var(--primary);
  --widget-background-color: var(--background-darker);
  --widget-accent-color: var(--background);
  --widget-base-background: transparent;
  --interactive-editor-color: var(--primary);
  --interactive-editor-background: var(--background);
  --interactive-editor-background-darker: var(--background-darker);
  --cloud-backup-color: var(--config-settings-color);
  --cloud-backup-background: var(--config-settings-background);
  --search-container-background: var(--background-darker);
  --search-field-background: var(--background);
  --search-label-color: var(--settings-text-color);
  --footer-text-color: var(--medium-grey);
  --footer-text-color-link: var(--primary);
  --footer-background: var(--background-darker);
  --context-menu-background: var(--background);
  --context-menu-color: var(--primary);
  --context-menu-secondary-color: var(--background-darker);
  --side-bar-background: var(--background-darker);
  --side-bar-background-lighter: var(--background);
  --side-bar-color: var(--primary);
  --side-bar-item-background: var(--side-bar-background);
  --side-bar-item-color: var(--side-bar-color);
  --workspace-web-content-background: var(--background);
  --minimal-view-background-color: var(--background);
  --minimal-view-title-color: var(--primary);
  --minimal-view-settings-color: var(--primary);
  --minimal-view-section-heading-color: var(--primary);
  --minimal-view-section-heading-background: var(--background-darker);
  --minimal-view-search-background: var(--background-darker);
  --minimal-view-search-color: var(--primary);
  --minimal-view-group-color: var(--primary);
  --minimal-view-group-background: var(--background-darker);
  --login-form-color: var(--primary);
  --login-form-background: var(--background);
  --login-form-background-secondary: var(--background-darker);
  --about-page-color: var(--white);
  --about-page-background: var(--background);
  --about-page-accent: var(--primary);
  --scroll-bar-color: var(--primary);
  --scroll-bar-background: var(--background-darker);
  --highlight-color: var(--background);
  --highlight-background: var(--primary);
  --progress-bar: var(--primary);
  --loading-screen-color: var(--primary);
  --loading-screen-background: var(--background);
  --status-check-tooltip-background: var(--background-darker);
  --status-check-tooltip-color: var(--primary);
  --welcome-popup-background: var(--background-darker);
  --welcome-popup-text-color: var(--primary);
  --toast-background: var(--primary);
  --toast-color: var(--background);
  --description-tooltip-background: var(--background-darker);
  --description-tooltip-color: var(--primary);
  --outline-color: none;
  --curve-factor: 5px;
  --curve-factor-navbar: 16px;
  --curve-factor-small: 2px;
  --dimming-factor: 0.7;
  --scroll-bar-width: 8px;
  --header-height: 6.3rem;
  --footer-height: 128px;
  --item-group-padding: 5px;
  --item-shadow: 1px 1px 2px #130f23;
  --item-hover-shadow: 1px 2px 4px #373737;
  --item-icon-transform: drop-shadow(2px 4px 6px var(--transparent-50))
    saturate(0.95);
  --item-icon-transform-hover: drop-shadow(4px 8px 3px var(--transparent-50))
    saturate(2);
  --item-group-shadow: var(--item-shadow);
  --context-menu-shadow: var(--item-shadow);
  --section-max-height: 3000px;
  --settings-container-shadow: none;
  --side-bar-width: 3.5rem;
  --tooltip-arrow-size: 6px;
  --tooltip-width: 250px;
  --tooltip-padding: 0.2rem;
}

body {
  color: rgb(var(--foreground-rgb));
}

.box {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

img.site-logo {
  margin: 0.2rem 0.5rem 0.2rem 0;
  max-width: 3.5rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

h1 {
  color: var(--widget-header-color);
  font-size: 2.5rem;
  margin: 0;
}

header {
  margin: 0;
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}
span.subtitle {
  color: var(--widget-header-color);
  font-style: italic;
  text-shadow: 1px 1px 2px rgba(19, 15, 35, 0.2784313725);
  opacity: var(--dimming-factor);
}

.page-titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  position: relative;
}

.widget-header {
  font-size: 1.4rem;
  text-transform: capitalize;
  color: var(--widget-header-color);
  padding-bottom: 10px;
}

.loader {
  margin: 0 auto;
  display: flex;
}

p {
  color: var(--widget-text-color);
}

.mainTile {
  z-index: 5;  
  background: #000000;
  border-radius: var(--curve-factor);
}

.innerTile {
  padding: 10px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.dark\:bg-main-blue:is(.dark *) {
  --tw-bg-opacity: 1;
  background-color: #000022;
}

.bodyTxt {
  margin-top: 10px;
  margin-bottom: 10px;
}

.dailyText {
  color: var(--widget-text-color);
  h2 {
    font-weight: bold;
    color:var(--widget-header-color);
    opacity: 0.8;
  }
}

.githubGrid {
  padding: 10px 10px 10px 10px;
}
