@import url("variables.css");
@import url("weather.css");
@import url("codestats.css");
@import url("clock.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background: #999;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  z-index: 100;
}

.box {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.box_purple_first {
  background: linear-gradient(rgb(1, 1, 121) 30%, rgb(137, 0, 152) 70%);
}

img.site-logo {
  margin: 0.2rem 0.5rem 0.2rem 0;
  max-width: 3.5rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

h1 {
  color: var(--widget-header-color);
  font-size: 2.5rem;
  margin: 0;
}

header {
  margin: 0;
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}
span.subtitle {
  color: var(--widget-header-color);
  font-style: italic;
  text-shadow: 1px 1px 2px rgba(19, 15, 35, 0.2784313725);
  opacity: var(--dimming-factor);
}

.page-titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  position: relative;
}

.openspeeedtestframe {
  border: none;
  width: 100%;
  height: 100%;
  min-height: 360px;
  overflow: hidden !important;
}

.stats-card {
  padding-bottom: 10px;
}

.widget-header {
  font-size: 1.4rem;
  text-transform: capitalize;
  color: var(--widget-header-color);
  padding-bottom: 10px;
}

.item {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  vertical-align: middle;
  padding: 2px;
  background: var(--box-background);
  text-align: center;
  border: 1px solid black;
  border-radius: var(--curve-factor);
  -webkit-box-shadow: var(--item-shadow);
  box-shadow: var(--item-shadow);
  cursor: pointer;
  text-decoration: none;
  position: relative;
}

.item.size-small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 2rem;
  padding-top: 1.25rem;
  padding-left: 0.5rem;
  padding-bottom: 1.25rem;
}

.item.size-small .tile-title {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 1.2rem;
  text-align: left;
  width: 100%;
  overflow: hidden;
}

.item.size-small .tile-title span.text {
  text-align: left;
  padding-left: 10%;
  color: var(--widget-text-color);
}

.item.size-small div img {
  width: 2rem;
}

.tile-icon.small {
  max-width: 1.5rem;
  max-height: 1.5rem;
}

.loader {
  margin: 0 auto;
  display: flex;
}

p {
  color: var(--widget-text-color);
}

.alerts-header {
  font-size: 1.25rem;
  margin-top: 15px;
  padding-right: 20px;
  color: var(--widget-header-color);
}

.system-info-wrapper {
  color: var(--widget-text-color);
  .some-info {
    padding-bottom: 0.25rem;
    border-bottom: 1px dashed var(--widget-text-color);
    p.host {
      font-size: 1.2rem;
      margin: 0.25rem 0;
      color: var(--widget-header-color);
    }
    span.system-header {
      font-size: 0.8rem;
      margin: 0.25rem 0;
      color: var(--widget-header-color);
    }
    span.system {
      font-size: 0.8rem;
      margin: 0.25rem 0;
    }
    p.system {
      font-size: 0.8rem;
      margin: 0.25rem 0;
    }
    span.gap {
      margin: 0 0.4rem;
    }
  }
  .some-charts {
    display: flex;
    .mem-chart,
    .load-chart {
      width: 50%;
      .chart-legend {
        transform: translate(50px, 140px);
      }
    }
  }
}

.workItem {
  border-radius: 5px;
  box-shadow: 3px 3px #202020;
  padding: 5px;
  background: #151b54;
  border: 1px solid #1589ff;
  margin-bottom: 10px;
}

.mainTile {
  background: #000000;
  padding: 10px;
  border-radius: var(--curve-factor);
}

.collapse {
  transition-property: height;
  transition-duration: 200ms;
  overflow: hidden;
  visibility: visible;
}
