@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("../modules/Weather/weather.css");
@import url("../modules/CodeStats/CodeStatsChart.css");
@import url("../modules/SystemInfo/SystemInfo.css");
@import url("../modules/MyWork/MyWork.css");
@import url("../modules/Links/Links.css");
@import url("../modules/Clock/clock.css");
@import url("../modules/Collapsable/Collapsable.css");
@import url("../modules/Popup/popup.css");
@import url("../modules/News/News.css");
@import url("../modules/GithubStats/GithubStats.css");

:root {
  --16px: 1rem;
  --24px: 1.5rem;
  --32px: 2rem;
  --64px: 4rem;
  --96px: 6rem;
  --128px: 8rem;
  --160px: 10rem;
  --192px: 12rem;
  --224px: 14rem;
  --256px: 16rem;
  --288px: 18rem;
  --320px: 20rem;
  --352px: 22rem;
  --new-xp: #990066;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --widget-header-color: rgba(255, 0, 255, 1);
  --widget-header-color-light: rgb(2, 88, 119);
  --box-background: #151b54;
  --dark-blue: #050a30;
  --accent-blue: #000c66;
  --primary: #5cabca;
  --primary-dark: #2723e8;
  --background: #0b1021;
  --background-darker: #05070e;
  --info: #04e4f4;
  --success: #20e253;
  --warning: #f6f000;
  --error: #fca016;
  --danger: #f80363;
  --neutral: #272f4d;
  --white: #fff;
  --black: #000;
  --item-group-background: rgba(11, 16, 33, 0.8);
  --medium-grey: #5e6474;
  --item-background: rgba(96, 125, 139, 0.2);
  --item-background-hover: rgba(96, 125, 139, 0.30196078431372547);
  --transparent-70: rgba(0, 0, 0, 0.7019607843137254);
  --transparent-50: rgba(0, 0, 0, 0.5019607843137255);
  --transparent-30: rgba(0, 0, 0, 0.30196078431372547);
  --transparent-white-70: hsla(0, 0%, 100%, 0.7019607843137254);
  --transparent-white-50: hsla(0, 0%, 100%, 0.5019607843137255);
  --transparent-white-30: hsla(0, 0%, 100%, 0.30196078431372547);
  --transparent-white-10: hsla(0, 0%, 100%, 0.058823529411764705);
  --heading-text-color: var(--primary);
  --nav-link-text-color: var(--primary);
  --nav-link-background-color: rgba(96, 125, 139, 0.2);
  --nav-link-text-color-hover: var(--primary);
  --nav-link-background-color-hover: rgba(96, 125, 139, 0.2);
  --nav-link-border-color: transparent;
  --nav-link-border-color-hover: var(--primary);
  --nav-link-shadow: 1px 1px 2px #232323;
  --nav-link-shadow-hover: 1px 1px 2px #232323;
  --item-text-color: var(--primary);
  --item-text-color-hover: var(--item-text-color);
  --item-group-outer-background: var(--primary);
  --item-group-heading-text-color: var(--item-group-background);
  --item-group-heading-text-color-hover: var(--background);
  --settings-text-color: var(--primary);
  --settings-background: var(--background);
  --widget-text-color: var(--primary);
  --widget-background-color: var(--background-darker);
  --widget-accent-color: var(--background);
  --widget-base-background: transparent;
  --interactive-editor-color: var(--primary);
  --interactive-editor-background: var(--background);
  --interactive-editor-background-darker: var(--background-darker);
  --cloud-backup-color: var(--config-settings-color);
  --cloud-backup-background: var(--config-settings-background);
  --search-container-background: var(--background-darker);
  --search-field-background: var(--background);
  --search-label-color: var(--settings-text-color);
  --footer-text-color: var(--medium-grey);
  --footer-text-color-link: var(--primary);
  --footer-background: var(--background-darker);
  --context-menu-background: var(--background);
  --context-menu-color: var(--primary);
  --context-menu-secondary-color: var(--background-darker);
  --side-bar-background: var(--background-darker);
  --side-bar-background-lighter: var(--background);
  --side-bar-color: var(--primary);
  --side-bar-item-background: var(--side-bar-background);
  --side-bar-item-color: var(--side-bar-color);
  --workspace-web-content-background: var(--background);
  --minimal-view-background-color: var(--background);
  --minimal-view-title-color: var(--primary);
  --minimal-view-settings-color: var(--primary);
  --minimal-view-section-heading-color: var(--primary);
  --minimal-view-section-heading-background: var(--background-darker);
  --minimal-view-search-background: var(--background-darker);
  --minimal-view-search-color: var(--primary);
  --minimal-view-group-color: var(--primary);
  --minimal-view-group-background: var(--background-darker);
  --login-form-color: var(--primary);
  --login-form-background: var(--background);
  --login-form-background-secondary: var(--background-darker);
  --about-page-color: var(--white);
  --about-page-background: var(--background);
  --about-page-accent: var(--primary);
  --scroll-bar-color: var(--primary);
  --scroll-bar-background: var(--background-darker);
  --highlight-color: var(--background);
  --highlight-background: var(--primary);
  --progress-bar: var(--primary);
  --loading-screen-color: var(--primary);
  --loading-screen-background: var(--background);
  --status-check-tooltip-background: var(--background-darker);
  --status-check-tooltip-color: var(--primary);
  --welcome-popup-background: var(--background-darker);
  --welcome-popup-text-color: var(--primary);
  --toast-background: var(--primary);
  --toast-color: var(--background);
  --description-tooltip-background: var(--background-darker);
  --description-tooltip-color: var(--primary);
  --outline-color: none;
  --curve-factor: 5px;
  --curve-factor-navbar: 16px;
  --curve-factor-small: 2px;
  --dimming-factor: 0.7;
  --scroll-bar-width: 8px;
  --header-height: 6.3rem;
  --footer-height: 128px;
  --item-group-padding: 5px;
  --item-shadow: 1px 1px 2px #130f23;
  --item-hover-shadow: 1px 2px 4px #373737;
  --item-icon-transform: drop-shadow(2px 4px 6px var(--transparent-50))
    saturate(0.95);
  --item-icon-transform-hover: drop-shadow(4px 8px 3px var(--transparent-50))
    saturate(2);
  --item-group-shadow: var(--item-shadow);
  --context-menu-shadow: var(--item-shadow);
  --section-max-height: 3000px;
  --settings-container-shadow: none;
  --side-bar-width: 3.5rem;
  --tooltip-arrow-size: 6px;
  --tooltip-width: 250px;
  --tooltip-padding: 0.2rem;
}

html,
body {
  overflow-x: hidden !important;
}

.box {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

img.site-logo {
  margin: 0.2rem 0.5rem 0.2rem 0;
  max-width: 3.5rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

h1 {
  color: var(--widget-header-color);
  font-size: 2.5rem;
  margin: 0;
}

header {
  margin: 0;
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}
span.subtitle {
  color: var(--widget-header-color);
  font-style: italic;
  text-shadow: 1px 1px 2px rgba(19, 15, 35, 0.2784313725);
  opacity: var(--dimming-factor);
}

.page-titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  position: relative;
  z-index: 1;
}

.widget-header {
  font-size: 1.4rem;
  text-transform: capitalize;
  color: var(--widget-header-color);
  padding-bottom: 10px;
}

.loader {
  margin: 0 auto;
  display: flex;
}

p {
  color: var(--widget-text-color);
}

.innerTile {
  padding: 10px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.dark\:bg-main-blue:is(.dark *) {
  --tw-bg-opacity: 1;
  background-color: #000022;
}

.groupTOC,
.itemData,
.bodyTxt {
  margin-top: 10px;
  margin-bottom: 10px;
  color: var(--primary-dark);
}

.dailyText {
  color: var(--widget-text-color);
  h2 {
    font-weight: bold;
    color: var(--widget-header-color);
    opacity: 0.8;
  }
}

.githubGrid {
  padding: 10px 10px 10px 10px;
}

.meetings {
  height: 500px;
  overflow: scroll;
  overflow-x: hidden;
  padding-left: 5px;
}

.meetingHeader {
  color: var(--widget-header-color);
  opacity: 0.8;
}

.meetingHeaderIcon {
  color: var(--widget-text-color);
  opacity: 0.8;
}

::-webkit-scrollbar-track {
  background: #212121;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(
    180deg,
    var(--dark-blue) 0%,
    var(--accent-blue) 99%
  );
  border: 1px solid #212121;
  background-clip: content-box;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(
    180deg,
    var(--dark-blue) 0%,
    var(--accent-blue) 99%
  );
  border-radius: 100px;
}

::-webkit-scrollbar-track-piece:vertical:start {
  background-color: #585858;
  box-shadow: inset 2px 2px 20px black;
}

::-webkit-scrollbar-track-piece:vertical:end {
  background-color: #585858;
  box-shadow: inset 2px 2px 20px black;
}

::-webkit-scrollbar-button:single-button {
  background-color: rgb(34, 34, 34);

  display: block;
  background-size: 10px;
  background-repeat: no-repeat;
}

::-webkit-scrollbar-button:single-button:vertical:decrement {
  height: 12px;
  width: 16px;
  background-position: center 4px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(96, 96, 96)'><polygon points='50,00 0,50 100,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(112, 112, 112)'><polygon points='50,00 0,50 100,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:decrement:active {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='50,00 0,50 100,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:increment {
  height: 12px;
  width: 16px;
  background-position: center 2px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(96, 96, 96)'><polygon points='0,0 100,0 50,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:increment:hover {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(112, 112, 112)'><polygon points='0,0 100,0 50,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:increment:active {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='0,0 100,0 50,50'/></svg>");
}

.tooltip {
  position: relative;
  padding: 5px 10px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 5%;
  color: var(--primary);
  cursor: help;
  transition: all 0.2s ease-out;
}

.tooltip:hover {
  box-shadow: 0 0 6px 0 black;
}

.tooltip::before,
.tooltip::after {
  position: absolute;
  left: 50%;
  opacity: 0;
  transition: all 0.2s ease-out;
}

.tooltip::before {
  content: "";
  border-width: 5px 4px 0 5px;
  border-style: solid;
  border-color: rgba(56, 56, 56, 0.8) transparent;
  margin-left: -4px;
  top: -8px;
}

.tooltip::after {
  content: attr(data-tooltip);
  top: -8px;
  width: 150px;
  margin-left: -75px;
  padding: 5px;
  font-size: 12px;
  background: linear-gradient(
    to bottom right,
    var(--dark-blue) 35%,
    var(--accent-blue) 70%
  );
  border-radius: 4px;
  transform: translate3d(0, -100%, 0);
  pointer-events: none;
}

/* 4 tooltip positions */

.tooltip[data-tooltip-position="left"]::before {
  margin-left: -21px;
  top: 12px;
  transform: rotate(-90deg);
}

.tooltip[data-tooltip-position="left"]::after {
  transform: translate3d(-65%, 40%, 0);
}

.tooltip[data-tooltip-position="right"]::before {
  margin-left: 14px;
  top: 12px;
  transform: rotate(90deg);
}

.tooltip[data-tooltip-position="right"]::after {
  transform: translate3d(60%, 40%, 0);
}

.tooltip[data-tooltip-position="bottom"]::before {
  margin-left: -4px;
  top: 32px;
  transform: rotate(-180deg);
}

.tooltip[data-tooltip-position="bottom"]::after {
  transform: translate3d(0, 186%, 0);
}

/* end of 4 tooltip positions */

.tooltip:hover::before,
.tooltip:hover::after {
  opacity: 1;
}

.tag {
  place-self: center;
  padding: 2rem 3rem 2rem 4rem;
  color: #222;
  font: bold 2em system-ui;
  filter: drop-shadow(-1px 6px 3px rgba(155, 0, 100, 1));

  &:before {
    position: absolute;
    z-index: -1;
    inset: 0;
    background: #fb8c00;
    clip-path: polygon(30px 0, 100% 0, 100% 100%, 30px 100%, 0 50%);
    content: "";
  }
}

.mainTile {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  top: 0;
  left: 0;
  position: relative;
  border: 0.075rem solid transparent;
  background-image: linear-gradient(var(--primary), var(--widget-header-color), var(--primary), var(--widget-header-color));
}

.mainTile::before {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  left: 0px;
  top: 0px;
  background-color: black;
  content: "";
  position: absolute;
}

.mainTilePolygon::before {
  background-color: black;
  clip-path: polygon(
    0% 15%,
    7% 8%,
    15% 0%,
    85% 0%,
    100% 0,
    100% 15%,
    100% 85%,
    93% 92%,
    85% 100%,
    15% 100%,
    0 100%,
    0% 85%
  );
  inset: 0;
  content: "";
  position: absolute;
  /* Rest of your styles */
}

.mainTilePolygon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  background-image: linear-gradient(90deg, #008cff, #e100ff, #008cff, #e100ff);
  clip-path: polygon(
    0% 15%,
    7% 8%,
    15% 0%,
    85% 0%,
    100% 0,
    100% 15%,
    100% 85%,
    93% 92%,
    85% 100%,
    15% 100%,
    0 100%,
    0% 85%
  );
  position: relative;
}


.gradient-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000011;
    padding-right: 8px;
    padding-left: 5px;
}

.line-container {
  position: relative;
  width: 300px;
  top:10px;
  left:10px;
  border: 1px solid #FFF;
  z-index:10000;
  height: 100px;
}

.line1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
}


@keyframes traceLine {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}

.line {
  --wave-width: 20px;
  --wave-height: 6px;
  
  width: 200px;
  height: 2px;
  background: linear-gradient(45deg, 
    transparent, transparent 49%, 
    #000 49%, #000 51%, 
    transparent 51%, transparent 100%
  );
  background-size: var(--wave-width) var(--wave-height);
  background-repeat: repeat-x;
}

    .svgwave {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
    @keyframes moveAlongPath {
      to {
        offset-distance: 100%;
      }
    }
    
    .rect {
      width:20px;
      height: 5px;
      offset-path: path('M0,0 Q300,600 900,900 T1500,2200');
      offset-distance: 0%;
      opacity: 50%;
      animation: moveAlongPath 10s linear infinite;
      filter: drop-shadow(-10px 0px 2px #2723e8) blur(2px);
    }
