.item {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  vertical-align: middle;
  padding: 2px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  position: relative;
}

.item.size-small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 0.5rem;
  padding-top: 0.7rem;
  padding-left: 0.5rem;
  padding-bottom: 0.7rem;
  width: 16vh;
}

.item.size-small .tile-title {
  text-align: left;
  width: 100%;
  overflow: hidden;
}

.item.size-small .tile-title span.text {
  text-align: left;
  padding-left: 10%;
  color: var(--widget-header-color);
  opacity: 0.8;
  font-size: 1rem;
}

.item.size-small div img {
  width: 1.8rem;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

.cardLinkOuter {
  background-image: conic-gradient(
    from var(--angle),
    transparent 90%,
    #192656,
    var(--dark-blue)
  );
  border-radius: 20px;
  width: 183px;
  height: 53px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: 4s spin infinite linear;
  pointer-events: auto; /* Change this to allow hover events */
}

.cardLinkInner {
  background-color: black;
  border: 1px solid #515874;
  border-radius: 20px;
  height: 50px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 5px;
}

/* Pause animation when hovering over .cardLinkInner */
.cardLinkOuter:hover,
.cardLinkInner:hover + .cardLinkOuter {
  background-image: conic-gradient(
    from var(--angle),
    #192656,
    var(--dark-blue)
  );
  animation-play-state: paused;
}

.cardLinkOuter::before {
  content: "";
  filter: blur(2px);
}
