.accordion {
  width: 100%;
  max-width: 600px;
  margin-right: 0.5rem;
  margin-left:0.5rem;
  margin-top: 0.5rem;
  overflow: hidden;
}

.accordionItem {
  margin-bottom: 0.2rem;
}

.accordionTitle {
  cursor: pointer;
  width: 100%;
  text-align: left;
  transition: 0.4s;
  font-weight: bold;
}

.accordionTitle:hover {
  border: 0;
}

.accordionContent {
  background-color: black;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

.accordionContent.open {
  max-height: 150px; /* Adjust as needed */
  overflow-y: auto;
}

.accordionContent.open::-webkit-scrollbar {
  display: none;
}

.accordionTitleText {
  color: var(--primary);
}
.accordionTitleText.open {
  color: var(--primary-fuchsia-light);
}

.accordionButton::before {
  font-family: sans-serif, "FontAwesome";
  content: "\f067";
  color: var(--primary);
  transition: 0.5s;
}
.accordionButton.open::before {
  font-family: sans-serif, "FontAwesome";
  content: "\f00d";
  color: var(--primary-fuchsia-light);
  transition: 0.5s;
}
.accordionButton {
  float: right;
}
