.accordion {
  width: 100%;
  max-width: 600px;
  margin: 0.5rem 0.5rem 0;
  overflow: hidden;
  position: relative;
}

.accordionItem {
  margin-bottom: 0.4rem;
}

.accordionTitle {
  cursor: pointer;
  width: 100%;
  text-align: left;
  transition: 0.4s;
  font-weight: bold;
  border: 1px solid var(--border-blue);
  border-bottom: none;
  border-radius: 0.3rem;
}

.accordionTitle.open {
  border-radius: 0.3rem 0.3rem 0 0;
}

.accordionTitle:hover {
  filter: brightness(150%);
}

.accordionContent {
  background-color: #020202;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

.accordionContent.open {
  padding: 3px 0;
  max-height: 150px; /* Adjust as needed */
  overflow-y: auto;
  border: 1px solid var(--border-blue);
  border-top: none;
  border-radius: 0 0 0.4rem 0.4rem;
}

.accordionContent.open::-webkit-scrollbar {
  display: none;
}

.accordionTitleText {
  color: var(--primary);
  border-radius: 0.3rem;
}

.accordionTitleText.open {
  color: var(--primary-fuchsia-light);
  border-radius: 0.3rem 0.3rem 0 0;
}

.accordionButton::before {
  font-family: sans-serif, "FontAwesome";
  content: "\f067";
  color: var(--primary);
  transition: 0.5s;
}

.accordionButton.open::before {
  content: "\f00d";
  color: var(--primary-fuchsia-light);
}

.accordionButton {
  float: right;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

.cardLinkOuter {
  background-image: conic-gradient(
    from var(--angle),
    transparent 90%,
    var(--border-blue),
    var(--dark-blue)
  );
  margin-bottom:0.3rem;
  border-radius: 20px;
  width: 183px;
  height: 43px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: 4s spin infinite linear;
  pointer-events: auto; /* Change this to allow hover events */
}

.cardLinkInner {
  background-color: black;
  border: 1px solid var(--primary-dark);
  border-radius: 20px;
  height: 40px;
  width: 180px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  padding-left: 5px;
}

/* Pause animation when hovering over .cardLinkInner */
.cardLinkOuter:hover,
.cardLinkInner:hover + .cardLinkOuter {
  background-image: conic-gradient(
    from var(--angle),
    var(--border-blue),
    var(--dark-blue)
  );
  animation-play-state: paused;
}

.cardLinkOuter::before {
  content: "";
  filter: blur(2px);
}

.underline {
  position: relative;
}

.underline::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--primary-fuchsia);
  transform-origin: center;
  transform: translate(-50%, 0) scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.underline:hover::before {
  transform: translate(-50%, 0) scaleX(1);
}