.newsDescription {
  color: var(--widget-text-color);
}

.newsTitle {
  color: var(--primary-fuchsia);
  opacity: 0.8;
}

.newsscroll {
  overflow: hidden !important;
  scrollbar-gutter: stable both-edges;
}

.newsscroll:hover {
  overflow: auto !important;
}
