.clock {
  padding: 0.5rem 0;
}

.clock .upper {
  display: flex;
  justify-content: space-between;
  border-radius: var(--curve-factor);
  padding: 0.5rem;
  opacity: 0.85;
  font-size: 0.8rem;
  background: var(--widget-accent-color);
}

.clock p {
  color: var(--widget-text-color);
  cursor: default;
  margin: 0;
}

.clock .time {
  font-size: 4rem;
  padding: 0.5rem;
  text-align: center;
  font-variant-numeric: tabular-nums;
  font-family: Digital, var(--font-monospace);
}

