.clock {
  padding: 0.5rem 0;
  p {
    color: var(--widget-text-color);
    cursor: default;
    margin: 0;
  }
  .upper {
    display: flex;
    justify-content: space-between !important;
    border-radius: var(--curve-factor);
    padding: 0.5rem;
    width:100%
  }
  .value {
    font-size: 0.8rem;
    text-align: center;
    font-variant-numeric: tabular-nums;
    font-family: var(--font-monospace);
    color: var(--widget-text-color);
  }
}
