.workItem {
  background: var(--widget-accent-color);
}


.rotate-shadows {
  border-radius: 7px;
  transform-origin: center center;
  box-shadow: inset 0 1px 0 var(--neutral), inset 1px 0 0 var(--neutral), inset 0 -1px 0 var(--neutral), inset -1px 0 0 var(--neutral);
}

.rotate-shadows:hover {
  animation: rotate-before 2s -0.5s linear infinite;
}

@keyframes rotate-before {
  0% {
    filter: drop-shadow(-.04rem 0 0.02rem rgba(97, 239, 255, .3));
  }
  20% {
    filter: drop-shadow(-.04rem -.04rem 0.02rem rgba(97, 239, 255, .3));
  }
  30% {
    filter: drop-shadow(0 -.04rem 0.02rem rgba(97, 239, 255, .3));
  }
  40% {
    filter: drop-shadow(.05rem -.04rem 0.02rem rgba(97, 239, 255, .3));
  }
  60% {
    filter: drop-shadow(.05rem 0 0.02rem rgba(97, 239, 255, .3));
  }
  80% {
    filter: drop-shadow(.05rem .05rem 0.02rem rgba(97, 239, 255, .3));
  }
  90% {
    filter: drop-shadow(0 .05rem 0.02rem rgba(97, 239, 255, .3));
  }
  100% {
    filter: drop-shadow(-.04rem .05rem 0.02rem rgba(97, 239, 255, .3));
  }
}

@import url("https://fonts.googleapis.com/css?family=Raleway");

:root {
  --glow-color: rgba(97, 239, 255, .3);
}

/* .linkhover {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
} */

/* .linkhover::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 2em 0.2em var(--neutral);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
} */

/* .linkhover:hover {
    animation: btn-glow 5s infinite linear;
  box-shadow: 0 0 2em 0.2em var(--neutral);
}

.linkhover:hover::after {
    opacity: 1;
} */

.glowing-txt {
  float: left;
  margin-right: -0.8em;
  -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
  -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
  animation: text-flicker 3s linear infinite;
}

.faulty-letter {
  opacity: 0.5;
  animation: faulty-flicker 2s linear infinite;
}

/* .linkhover::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
  filter: blur(1em);
  transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
  background: var(--glow-color);
  pointer-events: none;
} */

/* .linkhover:hover {
  background-color: var(--glow-color);
  box-shadow: 0 0 2em 0.2em var(--glow-color);
} */

/* .linkhover:hover{
      animation: btn-glow 5s infinite linear;
      background: linear-gradient(
          -20deg,
          #00f8f1,
          #00f8f120 16.5%,
          #00f8f1 33%,
          #00f8f110 49.5%,
          #00f8f1 66%,
          #00f8f100 85.5%,
          #00f8f1 100%
        )
        0 100% / 100% 200%;

      opacity: 9;
      transition: opacity 0s linear 0s;
    } */

@keyframes btn-glow {
  0% {
    box-shadow: 10px 20px 30px blue;
  }
  100% {
    background-position: 0 300%;
  }
}

@keyframes noise-background {
  0% {
    transform: translate3d(0, 0, 0);
  }
  20% {
    transform: translate3d(50px, 30px, 0);
  }
  40% {
    transform: translate3d(10px, 50px, 0);
   }
   60% {
    transform: translate3d(30px, 20px, 0);
   }
   80% {
    transform: translate3d(50px, 0, 0);
   }
  100% {
    transform: translate3d(100px, 0, 0);
  }
}

/* .linkhover:hover {
  color: rgba(0, 0, 0, 0.8);
  text-shadow: none;
  animation: none;
} */

.linkhover:hover .glowing-txt {
  animation: none;
}

.linkhover:hover .faulty-letter {
  animation: none;
  text-shadow: none;
  opacity: 1;
}

.linkhover:hover:before {
  filter: blur(1.5em);
  opacity: 1;
}

.linkhover:hover:after {
  opacity: 1;
}

@keyframes faulty-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 0.1;
  }
  4% {
    opacity: 0.5;
  }
  19% {
    opacity: 0.5;
  }
  21% {
    opacity: 0.1;
  }
  23% {
    opacity: 1;
  }
  80% {
    opacity: 0.5;
  }
  83% {
    opacity: 0.4;
  }

  87% {
    opacity: 1;
  }
}

@keyframes text-flicker {
  0% {
    opacity: 0.1;
  }

  2% {
    opacity: 1;
  }

  8% {
    opacity: 0.1;
  }

  9% {
    opacity: 1;
  }

  12% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0.3;
  }
  30% {
    opacity: 1;
  }

  70% {
    opacity: 0.7;
  }
  72% {
    opacity: 0.2;
  }

  77% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.9;
  }
}

@keyframes border-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 1;
  }
  4% {
    opacity: 0.1;
  }

  8% {
    opacity: 1;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  .linkhover{
    font-size: 1em;
  }
}

