.rotate-shadows {
  border-radius: 7px;
  transform-origin: center center;
  box-shadow: inset 0 1px 0 var(--neutral), inset 1px 0 0 var(--neutral), inset 0 -1px 0 var(--neutral), inset -1px 0 0 var(--neutral);
}

.rotate-shadows:hover {
  animation: rotate-before 2s -0.5s linear infinite;
}

@keyframes rotate-before {
  0% {
    filter: drop-shadow(-.04rem 0 0.02rem rgba(97, 239, 255, .3));
  }
  20% {
    filter: drop-shadow(-.04rem -.04rem 0.02rem rgba(97, 239, 255, .3));
  }
  30% {
    filter: drop-shadow(0 -.04rem 0.02rem rgba(97, 239, 255, .3));
  }
  40% {
    filter: drop-shadow(.05rem -.04rem 0.02rem rgba(97, 239, 255, .3));
  }
  60% {
    filter: drop-shadow(.05rem 0 0.02rem rgba(97, 239, 255, .3));
  }
  80% {
    filter: drop-shadow(.05rem .05rem 0.02rem rgba(97, 239, 255, .3));
  }
  90% {
    filter: drop-shadow(0 .05rem 0.02rem rgba(97, 239, 255, .3));
  }
  100% {
    filter: drop-shadow(-.04rem .05rem 0.02rem rgba(97, 239, 255, .3));
  }
}
