.language-pie-chart {
  width: 100%;
  height: 100%;
  margin-top: 15px;
}
.code-stats-wrapper {
  padding: 10px;
  height: 570px;
}

.code-stats-wrapper .user-meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5rem;
  padding: 0.5rem 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.code-stats-wrapper .user-meta .user-info-wrap .username {
  font-size: 1.4rem;
  text-transform: capitalize;
  color: var(--widget-text-color);
}

.code-stats-wrapper .user-meta .user-info-wrap .user-level {
  font-size: 0.8rem;
  text-transform: capitalize;
  opacity: var(--dimming-factor);
  color: var(--widget-text-color);
}

.code-stats-wrapper .user-meta .total-xp-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  color: var(--widget-text-color);
}

.code-stats-wrapper .user-meta .total-xp-wrap .total-xp {
  font-size: 1.4rem;
}

.code-stats-wrapper .user-meta .total-xp-wrap .new-xp {
  font-size: 0.8rem;
  margin: 0 0 0 0.5rem;
  color: var(--new-xp);
}


.card {
  margin-top: 15px;
  border: 0;
  width: 95%;
  margin-inline: auto;
}

.container-card {
  position: relative;
  border: 2px solid transparent;
  background: linear-gradient(50deg, rgb(8 13 23 / 80%) 30%, rgba(11, 15, 30, 0.45) 50%, rgb(8 13 23  / 80%) 70%);
  background-clip: padding-box;
  border-radius: 15px;
  padding: 10px;
}

.bg-blue-box {
  position: relative;
}

.bg-blue-box::after {
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  content: "";
  z-index: -1;
  border-radius: 15px;
  background: linear-gradient(71deg, #0c0a0e, #0025b9, #0c0a0e);
}
